/**{
  
  Everything in this "class" affects the whole page

  background-color: whitesmoke;
  
}*/
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
}
.pageFrame {
  max-width: 1200px;
  margin: auto;
  background-color: whitesmoke;
}
header nav {
  height: auto;
  width: auto;
  text-align: center;
  padding: 20px 40px 60px 40px;
  background-color: gainsboro;
}
ul li {
  list-style: none;
  display: inline-block;
}
ul li a {
  text-decoration: none;
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  color: black;
  background-color: gainsboro;
}
ul li a:hover {
  color: rgb(0, 217, 255);
}
section {
  padding: 20px;
}
main {
  width: 70%;
}
main p {
  font-size: 1.1rem;
  line-height: 1.6rem;
}
footer {
  text-align: center;
  padding: 20px 40px 20px 40px;
}
