@media screen and (max-width: 1008px) {
  #navheader {
    width: 100%;
  }
  .pageFrame {
    width: 100%;
  }
  footer {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1060px) {
  #navHeader {
    width: 100%;
    height: auto;
  }
  .pageFrame {
    width: 100%;
  }
  footer {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  #navHeader {
    width: 100%;
    height: auto;
  }
  .pageFrame {
    width: 100%;
  }
  footer {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 50px) {
  #navHeader {
    width: 100%;
    height: auto;
  }
  .pageFrame {
    width: 100%;
  }
  footer {
    width: 100%;
    height: auto;

    transform: translateX(500px);
  }
}
.aboutImage {
  width: 100%;
  height: auto;
}
h1 {
  text-align: Left;
  font-size: 30px;
  font-style: normal;
  padding: 40px;
}
.aboutSection {
  padding: 10px;
}
.aboutUsParagraph {
  text-align: justify;
  font-style: oblique;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#innerElement {
  float: left;
  padding: 35px;
  border-radius: 50%;
  width: 30%;
}
#navHeader {
  width: 100%;
  height: auto;
  justify-content: center;
}
.twitter {
  width: 100%;
  width: 65px;
  padding-left: 35px;
  padding-right: 35px;
}
.facebook {
  width: 100%;
  width: 65px;
  padding-left: 35px;
  padding-right: 35px;
}
.instagram {
  width: 100%;
  width: 65px;
  padding-left: 35px;
  padding-right: 35px;
}
.socialMediaIcons {
  transform: translateX(60px);
}
hr {
  float: none;
}
