@media screen and (max-width: 1008px) {
  #navheader  { width:100%; } 
  .pageFrame { width:100%; }  
  footer { width:100%; }  
}

@media screen and (max-width: 1060px) {
  #navheader  { width:100%; } 
  .pageFrame { width:100%; }  
  footer { width:100%; }    
}

@media screen and (max-width: 768px) {
  #navheader  { width:100%; } 
  .pageFrame { width:100%; }
  footer { width:100%; }
}
img {
  width: 50%;
  padding: 35px;
  float: left;
}
.FirstSkateboardParagraph {
  padding: 26px;
  text-align: justify;
}
.shoesHangingParagraph {
  padding: 26px;
  text-align: justify;
}
hr {
  float: none;
}

