@media screen and (max-width: 1008px) {
  #navhHeader {
    width: 100%;

    transform: translateX(50%);
  }
  .pageFrame {
    width: 100%;
  }
  footer {
    width: 100%;
  }
}

@media screen and (max-width: 1060px) {
  #navHeader {
    width: 100%;
    transform: translateX(320px);
  }
  .pageFrame {
    width: 100%;
  }
  footer {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #navHeader {
    width: 100%;
    transform: translateX(150px);
  }
  .pageFrame {
    width: 100%;
  }
  footer {
    width: 100%;
  }
}
#navheader {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: left;
}
form {
  margin: auto;
  width: 100%;
  width: 450px;
  margin-top: 55px;
  padding: 5px;
  transform: translateX(-200px);
}
ul {
  list-style: none;
}
form li + li {
  margin-top: 1em;
}
label {
  display: inline-flex;
  width: 90px;
  text-align: right;
}
input,
textarea {
  width: 100%;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;

  vertical-align: top;
}
address {
  text-align: center;
  text-decoration: none;
}
.addressLinks {
  padding: 10px;
  text-align: justify;
  transform: translateX(700px);
}
h1 {
  transform: translateX(-400px);
}
hr {
  float: none;
  width: 90%;
}
.bottom_hr {
  margin-top: 155px;
  transform: translateY(35px);
}
footer {
  padding: 10px;
}
