@media screen and (max-width: 1008px) {
  #navHeader {
    width: 100%;
  }
  .pageFrame {
    width: 100%;
  }
  footer {
    width: 100%;
  }
}

@media screen and (max-width: 1060px) {
  #navHeader {
    width: 100%;
  }
  .pageFrame {
    width: 100%;
  }
  footer {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #navHeader {
    width: 100%;
    transform: translateX(500px);
  }
  .pageFrame {
    width: 100%;
  }
  footer {
    width: 100%;
  }
}
.homeSlideShow {
  position: relative;
  height: 100%;
  height: 450px;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
.homearticle_One {
  transform: translateY(-250px);
}
.slideImage {
  width: 100%;
}
.slideshow_container {
  display: block flex;
}
.homeParagraphOne {
  font-size: 25px;
  text-align: justify;
  justify-content: right;
  transform: translateY(50px);
}
hr {
  clear: both;
}
