.homeImage {
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 60px;

  animation-name: slideIn;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
