/**{
  
  Everything in this "class" affects the whole page

  background-color: whitesmoke;
  
}*/
@media screen and (max-width: 1008px) {
  #navheader  { width:100%; } 
  .pageFrame { width:100%; }  
  footer { width:100%; }  
}

@media screen and (max-width: 1060px) {
  #navheader  { width:100%; } 
  .pageFrame { width:100%; }  
  footer { width:100%; }    
}

@media screen and (max-width: 768px) {
  #navheader  { width:100%; } 
  .pageFrame { width:100%; }
  footer { width:100%; }
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}
.pageFrame {
  max-width: 1200px;
  margin: auto;
  background-color: white;
}
header {
  border-radius: 10px;
  text-align: center;
}
header nav {
  height: auto; /*Change this to a 100 because auto doe not stay consistent across all browsers*/
  width: auto;
  text-align: center;
  padding: 40px 40px 40px 40px;
  background-color: #fff;
}
ul li {
  list-style: none;
  display: inline-block;
}
ul li a {
  text-decoration: none;
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 35px;
  color: black;
  background-color: #fff;
  text-decoration: overline;
  text-decoration-color: #fff;
}
ul li a:hover {
  color: whitesmoke;
}
#mybtn a:hover {
  color: gray;
}
.blogPostTitle a:hover {
  color: gray;
}
.blogPostTitle {
  width: 60% auto;
  height: 60px;
  display: grid;
  place-items: center;
}
/*main {
  width: 70%;
  /*In Css when an element is floated it becomes detached from the normal element flow
  float: left;
}*/
main p {
  font-size: 1.1rem;
  line-height: 1.6rem;
}
footer {
  content: "";
  display: block;
  clear: both;
  text-align: center;
  padding: 20px 40px 20px 40px;
}

